---
layout: splash
title: "Masters of Real English"
header:
  overlay_image: /assets/images/splash.png
  overlay_filter: 0.5
  caption: "By students, for students"
  overlay_height: 90vh
excerpt: "We do MORE for your students"
---

Greetings huzz
This place is perfect for LeBron gooning!
We help students do more with English.

{% include feature_row
  image_path="/assets/images/icon-wrench.png"
  alt="Customizable"
  title="Super customizable"
  excerpt="Everything from the menus, sidebars, comments, and more can be configured or set with YAML Front Matter."
  url="#"
  btn_label="Learn more"
  btn_class="btn--primary"
%}

{% include feature_row
  image_path="/assets/images/icon-responsive.png"
  alt="Responsive"
  title="Responsive layouts"
  excerpt="Built with HTML5 + CSS3. All layouts are fully responsive with helpers to augment your content."
  url="#"
  btn_label="Learn more"
  btn_class="btn--primary"
%}

{% include feature_row
  image_path="/assets/images/icon-free.png"
  alt="Free"
  title="100% free"
  excerpt="Free to use however you want under the MIT License. Clone it, fork it, customize it... whatever!"
  url="#"
  btn_label="Learn more"
  btn_class="btn--primary"
%}
