<div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}

    <li>
  <a href="https://www.instagram.com/masters_of_real_english/" target="_blank" rel="noopener">
    <i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram
  </a>
</li>
<li>
  <a href="https://www.facebook.com/profile.php?id=61575263023832" target="_blank" rel="noopener">
    <i class="fab fa-fw fa-facebook" aria-hidden="true"></i> Facebook
  </a>
</li>


  </ul>
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} <a href="{{ site.copyright_url | default: site.url }}">{{ site.copyright | default: site.title }}</a>. Designed &amp; Developed by <a href="https://www.linkedin.com/in/krish-seth-64b286298/">Clovis Zhang</a>.</div>
